body{
    margin: 0;
    padding: 0;
}
#navbar {
    top: 0;
    transition: top 0.3s;
}

#uTopInfoCard-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#uTopInfoCard:hover #uTopInfoCard-dropdown {display: block}

.gBox{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.gAnim{
    position: relative;
}

.gAnim:after, .gAnim:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: -1;
}

.gAnim:after {
    background: radial-gradient(circle, red, transparent);
    background-size: 400%;
    animation: animBG 30s linear infinite;
}

.gAnim:before{
    background-color: yellow;
}

@keyframes animBG {
    25%{background-position: 0 100%}
    50%{background-position: 100% 100%}
    75%{background-position: 100% 0}
    100%{filter: hue-rotate(360deg)}
}

.contTransBg {
    background-color: rgba(255, 255, 255, 0.5);
}

/*div.usrCBG {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.usrCCard {
    flex: 0 1 calc(25% - 1em);
}*/

div.usrBgSq{
    background-color: rgba(255,255,255,0.75);
}

div.usersBg{
    background-color: rgba(159,184,175,0.7);
}