<footer class="footer text-right">
    <div class="container">
        <hr>
        <span class="text-muted">KIV/WEB Kravtsov 2018 &reg;</span>
    </div>
</footer>

</body>
</html>


<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-55px";
        }
        prevScrollpos = currentScrollPos;
    }

    // Ziskani elementu formulare prihlaseni
    var modal = document.getElementById("lfModal");

    // Pri kliknuti kamkoliv mimo oblast formulare, zavrit ho.
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


