<!doctype html>
<html lang="cs">
<head>
    <title>{{ title | striptags }}</title>
    <meta charset="utf-8">
    <!-- Proper bootstrap elements scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mainOwnStyles.css">
    <link rel="stylesheet" href="../../css/lfModalStyle.css"/>

    <script src="../../js/bootstrap.min.js"></script>
</head>
<body>