<!doctype html>
<html lang="cs">
<head>
    <title>{{ title | striptags }}</title>
    <meta charset="utf-8">
    <!-- Proper bootstrap elements scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mainOwnStyles.css">
    <link rel="stylesheet" href="../../css/lfModalStyle.css">

    <script src="../../js/bootstrap.min.js"></script>
</head>
<body>

<div class="container_fluid">
    <div id="navbar"
         class="navbar navbar-dark navbar-expand bg-dark fixed-top w-100 d-block">
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                <a href="?page=users" class="btn btn-outline-warning">Uživatele</a>
            </li>
            <li class="nav-item mr-2">
                <a href="?page=terms" class="btn btn-outline-warning">Termíny</a>
            </li>
            <li class="nav-item mr-2">
                <a href="?page=themes" class="btn btn-outline-warning">Témata</a>
            </li>
            <li class="nav-item mr-2">
                <a href="?page=articles" class="btn btn-outline-warning">Články</a>
            </li>
            <li class="nav-item mr-2">
                <a href="?page=info" class="btn btn-outline-warning">Informace</a>
            </li>


            <li class="nav-item ml-auto mr-2">
                <button type="button" class="btn btn-outline-info"
                        onclick="document.getElementById('lfModal').style.display='block'">Prihlasit se
                </button>
            </li>
            {% if currentPage != "registration" %}
                <li class="nav-item">
                    <a href="?page=registration" class="btn btn-outline-info">Registrace</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-55px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>