<div class="container col-6 col-md-8 col-sm-10 col-xs-12">
    <div class="card shadow">
        <div class="card-header"><h3 class="text-dark">Error</h3></div>
        <div class="card-body">
            <p class="text-dark">You can not see this page. You are not authorised!
            Please login or sign up.
                <span class="float-right">
                    <a href="?page=main" class="btn btn-outline-primary">Hlavní stránka</a>
                </span>
            </p>
        </div>
    </div>
</div>
