<div class="bg-white container_fluid">
    <div class="container border shadow-lg bg-white rounded pt-3"
         style="display: flex; flex-wrap: wrap; justify-content: space-between">

        {% for user in users %}
        <div class="card m-2" style="flex: 0 1 calc(25% - 1em)">
            <img class="card-img-top" src="../../images/unknown_user_img.png"
                 alt="User image">
            <div class="card-body">
                <h4 class="card-title text-center">{{ user.jmeno|e }}</h4>
                <p class="card-text">{{ user.email|e }}</p>
                <a href="#" class="btn btn-primary" style="display: block">Zobrazit profil</a>
            </div>
        </div>
        {% endfor %}

        <div class="container text-center my-3">
            <a href="../index2.php?page=main" class="btn btn-danger">Hlavni stranka</a>
        </div>
    </div>
</div>