<div class="container-fluid">
        <div class="card shadow text-dark" style="top: 35px">
            {% if user_db_info.idprava == 0 %}
                {{ block('autor_block','activity_blocks.tpl.twig') }}
            {% endif %}
        </div>
</div>