<div class="container col-6 col-md-8 col-sm-10 col-xs-12">
    <div class="card shadow">
        <div class="card-header"><h4 class="text-dark">Chyba</h4></div>
        <div class="card-body">
            Nemáte přístup na tuhle stránku. Nejste přihlášen(a)!
            Přihláste se nebo se zaregistrujte vpravo nahoře.
            <hr>
            <a href="?page=main" class="btn btn-outline-primary d-block">Hlavní stránka</a>
        </div>
    </div>
</div>
